<nav>
    <ul>
        <li><a class="<%= path ==='/prove02' ? 'active' : '' %>" href="/">Book Entry</a></li>
        <li><a class="<%= path ==='/list' ? 'active' : '' %>" href="/list">All Books</a></li>
    </ul>
</nav>