<%- include('includes/head.ejs') %>
    <%- include('includes/nav.ejs') %>
        <main>
            <h2>Please enter a book and its summary:</h2>
            <form action='/getBooks' method="POST">
                <label for="title">Book Title:</label>
                <input type="text" name="title">
                <label for="summary">Summary:</label>
                <textarea name="summary"></textarea>
                <button type="submit">Add Book</button>
            </form>
        </main>
        </body>

        </html>